body{
display: grid;
place-items: center;
background-color: aqua;

}
div{width: 50%;
background-color: beige;
border-radius: 20px;
display: grid;
place-items: center;
}
.b{border-radius: 30px;
color: blueviolet;
margin-top: 8%;
text-align: center;}